{% extends 'base.html.twig' %}

{% block title %}Create Wish{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center mt-3 mb-3">
        <div class="card w-75" >
            <div class="card-body">
                <h5 class="card-title">{{ 'wish.create'|trans }}</h5>
                {{ form(wish_form) }}
            </div>
        </div>
    </div>

{% endblock %}
