{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
    <div class="card position-absolute top-50 start-50 translate-middle w-25" >
        <div class="card-body">
            <h5 class="card-title">{{ 'register'|trans }}</h5>
            {{ form(register_form) }}
        </div>
    </div>
{% endblock %}
