{% extends 'base.html.twig' %}

{% block title %}Guest Book Messages{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Date</th>
            <th scope="col">Message</th>
        </tr>
        </thead>
        <tbody>
            {% for wish in wishes %}
                <tr>
                    <td>{{ wish.userName }}</td>
                    <td>{{ wish.email }}</td>
                    <td class="text-nowrap">{{ wish.createdAt.format('Y-m-d') }}</td>
                    <td>{{ wish.content }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
